<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title id="new-file-title"></title>
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/new-file.css" />
  </head>
  <body>
    <div id="new-file">
      <div>
        <h1 id="new-file-header"></h1>
        <p id="new-file-description"></p>
        <div id="new-file-template-select">
          <div id="new-file-template-select-buttons">
            <button id="new-file-template-select-new-template" class="big-flex-btn">
              <img id="new-file-template-select-new-template-icon" src="../../asset/imgs/zhan.png"></img>
              <span id="new-file-template-select-new-template-text"></span>
            </button>
          </div>
        </div>
        <div id="new-file-save">
          <div>
            <span id="new-file-save-prompt"></span>
            <span id="new-file-save-path"></span>
            <button id="new-file-save-choosepath"></button>
          </div>
          <form id="new-file-save-form">
            <span id="new-file-save-form-prompt"></span>
            <label id="new-file-save-form-label" for="file-name"></label>
            <input
              id="new-file-save-form-input"
              type="text"
              id="file-name"
              name="file-name"
            />
          </form>
        </div>
      </div>
    </div>
    <div id="yes-or-no-button">
      <button id="yes-or-no-button-no"></button>
      <button id="yes-or-no-button-yes"></button>
    </div>
  </body>

  <script src="../js/global.js"></script>
  <script src="../js/new-file.js"></script>
</html>
