<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title id="new-template-title"></title>
    <link id="theme-stylesheet" rel="stylesheet" href=""/>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/new-template.css"/>
    <link rel="stylesheet" href="../css/inline-toast.css"/>
  </head>

  <body>
    <div id="new-template">
      <div id="new-template-left">
        <h1 id="new-template-header"></h1>
        <p id="new-template-description"></p>
        <h4 id="new-template-foreground-description"></h4>
        <div id="new-template-foreground">
          <div>
            <button id="new-template-foreground-import" class="big-flex-btn">
              <img id="new-template-foreground-import-icon" src="../../asset/imgs/zhan.png"></img>
              <span id="new-template-foreground-import-text"></span>
            </button>
            <button class="big-flex-btn">
              <span>2nd</span>
            </button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
          </div>
        </div>
        <div id="new-template-bottom">
          <div id="new-template-background">
            <h4 id="new-template-background-description"></h4>
            <div id="new-template-background-options">
              <div>
                <label id="new-template-background-options-solidlbl" for="new-template-background-options-solid"></label>
                <input type="radio" id="new-template-background-options-solid" name="bg-type" value="solid" checked>
                <input type="color" id="new-template-background-options-color" value="#000000">
              </div>
              <div>
                <label id="new-template-background-options-imagelbl" for="new-template-background-options-image"></label>
                <input type="radio" id="new-template-background-options-image" name="bg-type" value="image">
                <form id="new-template-background-options-image-form">
                  <div class="scrollable-path">
                    <span id="new-template-background-options-image-text"></span>
                  </div>
                  <button id="new-template-background-options-image-upload" type="button"></button>
                </form>
              </div>
              <form id="new-template-name-template">
                <span id="new-template-name-template-text"></span>
                <input
                  id="new-template-name-template-input"
                  type="text"
                  name="file-name"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="new-template-preview">
        <div id="new-template-preview-description"></div>
        <div id="new-template-preview-screen"></div>
      </div>
    </div>
    <div id="yes-or-no-button">
      <button id="yes-or-no-button-no"></button>
      <button id="yes-or-no-button-yes"></button>
    </div>
  </body>

  <script src="../js/global.js"></script>
  <script src="../js/new-template.js"></script>
  <script src="../js/inline-toast.js"></script>
</html>
