<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title id="main-menu-title"></title>
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/main-menu.css" />
  </head>
  <body>
    <div id="main-menu">
      <div id="main-menu-sidebar">
        <button id="main-menu-sidebar-start"></button>
        <button id="main-menu-sidebar-help"></button>
        <button id="main-menu-sidebar-about"></button>
        <button id="main-menu-sidebar-settings"></button>
      </div>
      <div id="main-menu-content">
        <div id="main-menu-content-start">
          <h1 id="main-menu-content-start-title"></h1>
          <p id="main-menu-content-start-discription"></p>
          <div id="main-menu-content-start-buttons">
            <button id="main-menu-content-start-buttons-new">
              <img
                id="main-menu-content-start-buttons-new-icon"
                src="../asset/imgs/zhan.png"
              />
              <span id="main-menu-content-start-buttons-new-text"></span>
            </button>
            <!-- <button id="main-menu-content-start-buttons-new-edit">
              <img
                id="main-menu-content-start-buttons-new-edit-icon"
                src="../asset/imgs/zhan.png"
              />
              <span id="main-menu-content-start-buttons-new-edit-text"></span>
            </button> -->
            <button id="main-menu-content-start-buttons-open">
              <img
                id="main-menu-content-start-buttons-open-icon"
                src="../asset/imgs/zhan.png"
              />
              <span id="main-menu-content-start-buttons-open-text"></span>
            </button>
          </div>
        </div>
        <div id="main-menu-content-help">
          <h1 id="main-menu-content-help-title"></h1>
          <p id="main-menu-content-help-discription"></p>
        </div>
        <div id="main-menu-content-about">
          <h1 id="main-menu-content-about-title"></h1>
          <p id="main-menu-content-about-discription"></p>
        </div>
        <div id="main-menu-content-settings">
          <h1 id="main-menu-content-settings-title"></h1>
          <p id="main-menu-content-settings-discription"></p>
          <label id="main-menu-content-settings-theme"></label>
          <select
            name="theme-select"
            id="main-menu-content-settings-theme-select"
          ></select>
          <label id="main-menu-content-settings-language"></label>
          <select
            name="language-select"
            id="main-menu-content-settings-language-select"
          ></select>
          <div id="main-menu-content-settings-buttons">
            <button id="main-menu-content-settings-buttons-cancel"></button>
            <button id="main-menu-content-settings-buttons-save"></button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/global.js"></script>
  <script src="./js/main-menu.js"></script>
</html>
