<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title id="new-theme-title"></title>
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/new-theme.css" />
  </head>

  <body>
    <div id="new-theme">
      <div>
        <h1 id="new-theme-header"></h1>
        <p id="new-theme-description"></p>
        <h4 id="new-theme-foreground-description"></h4>
        <div id="new-theme-foreground">
          <div>
            <button id="new-theme-foreground-import" class="big-flex-btn">
              <img id="new-theme-foreground-import-icon" src="../asset/imgs/zhan.png"></img>
              <span id="new-theme-foreground-import-text"></span>
            </button>
            <button class="big-flex-btn">
              <span>2nd</span>
            </button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
            <button class="big-flex-btn"></button>
          </div>
        </div>
        <div id="new-theme-bottom">
          <div id="new-theme-background">
            <h4 id="new-theme-background-description"></h4>
            <div id="new-theme-background-options">
              <div>
                <label id="new-theme-background-options-solidlbl" for="new-theme-background-options-solid"></label>
                <input type="radio" id="new-theme-background-options-solid" name="bg-type" value="solid" checked>
                <input type="color" id="new-theme-background-options-color" value="#000000">
              </div>
              <div>
                <label id="new-theme-background-options-imagelbl" for="new-theme-background-options-image"></label>
                <input type="radio" id="new-theme-background-options-image" name="bg-type" value="image">
              </div>
            </div>
          </div>
          <div id="new-theme-preview">
            <span id="new-theme-preview-text">
              something here!
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="./js/global.js"></script>
  <script src="./js/new-theme.js"></script>
</html>
