<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title id="new-file-title"></title>
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/new-file.css" />
  </head>
  <body>
    <div id="new-file">
      <div>
        <h1 id="new-file-header"></h1>
        <p id="new-file-description"></p>
        <div id="new-file-theme-select">
          <div>
            <button id="new-file-theme-select-new-theme">
              <img id="new-file-theme-select-new-theme-icon" src="../asset/imgs/zhan.png"></img>
              <span id="new-file-theme-select-new-theme-text">some span</span>
            </button>
            <button>
              <span>2nd</span>
            </button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
        </div>
        <form id="new-file-form">
          <label id="new-file-form-label" for="file-name"></label>
          <input
            id="new-file-form-input"
            type="text"
            id="file-name"
            name="file-name"
            required
          />
          <button id="new-file-form-submit" type="submit"></button>
        </form>
      </div>
    </div>
  </body>

  <script src="./js/global.js"></script>
  <script src="./js/new-file.js"></script>
</html>
