@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('../../asset/fonts/HarmonyOS Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg0: #ffffff;
  --bg1: #cccccc;
  --bg2: #999999;
  --bg3: #666666;
  --bg4: #333333;
  --bg5: #000000;
  --fg0: #000000;
  --fg1: #333333;
  --fg2: #666666;
  --fg3: #999999;
  --fg4: #cccccc;
  --fg5: #ffffff;
  --fs0: 22px;
  --fs1: 20px;
  --fs2: 18px;
  --fs3: 16px;
  --fs4: 14px;
  --fs5: 12px;
  --ff0: 'HarmonyOS_Sans', sans-serif;
  --ff1: 'HarmonyOS_Sans', sans-serif;
  --ff2: 'HarmonyOS_Sans', sans-serif;
  --success: rgba(76, 175, 80, 0.95);
  --error: rgba(244, 67, 54, 0.95);
  --warning: rgba(255, 152, 0, 0.95);
  --info: rgba(33, 150, 243, 0.95);
}