:root {
  --bg0: #ffffff;
  --bg1: #cccccc;
  --bg2: #999999;
  --bg3: #666666;
  --bg4: #333333;
  --bg5: #000000;
  --fg0: #000000;
  --fg1: #333333;
  --fg2: #666666;
  --fg3: #999999;
  --fg4: #cccccc;
  --fg5: #ffffff;
  --fs0: 22px;
  --fs1: 20px;
  --fs2: 18px;
  --fs3: 16px;
  --fs4: 14px;
  --fs5: 12px;
  --ff0: Arial, sans-serif;
  --ff1: Arial, sans-serif;
  --ff2: Arial, sans-serif;
}