<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title class="main-menu-title"></title>
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="./main-menu.css" />
  </head>
  <body>
    <div class="main-menu">
      <div class="main-menu-sidebar">
        <button
          class="main-menu-sidebar-start sidebar-button"
          data-target-screen="main-menu-content-start"
        >
          <img class="main-menu-sidebar-start-icon" />
          <span class="main-menu-sidebar-start-text"></span>
        </button>
        <button
          class="main-menu-sidebar-help sidebar-button"
          data-target-screen="main-menu-content-help"
        >
          <img class="main-menu-sidebar-help-icon" />
          <span class="main-menu-sidebar-help-text"></span>
        </button>
        <button
          class="main-menu-sidebar-about sidebar-button"
          data-target-screen="main-menu-content-about"
        >
          <img class="main-menu-sidebar-about-icon" />
          <span class="main-menu-sidebar-about-text"></span>
        </button>
        <button
          class="main-menu-sidebar-settings sidebar-button"
          data-target-screen="main-menu-content-settings"
        >
          <img class="main-menu-sidebar-settings-icon" />
          <span class="main-menu-sidebar-settings-text"></span>
        </button>
      </div>
      <div class="main-menu-content">
        <div
          id="main-menu-content-start"
          class="content-screen"
          data-screen="main-menu-content-start"
        >
          <h1 class="main-menu-content-start-title"></h1>
          <p class="main-menu-content-start-description"></p>
          <div class="main-menu-content-start-buttons">
            <button id="main-menu-content-start-buttons-new">
              <img
                class="main-menu-content-start-buttons-new-icon"
                src="../../asset/imgs/zhan.png"
              />
              <span class="main-menu-content-start-buttons-new-text"></span>
            </button>
            <button id="main-menu-content-start-buttons-open">
              <img
                class="main-menu-content-start-buttons-open-icon"
                src="../../asset/imgs/zhan.png"
              />
              <span class="main-menu-content-start-buttons-open-text"></span>
            </button>
          </div>
        </div>
        <div
          id="main-menu-content-help"
          class="content-screen"
          data-screen="main-menu-content-help"
        >
          <h1 class="main-menu-content-help-title"></h1>
          <p class="main-menu-content-help-description"></p>
        </div>
        <div
          id="main-menu-content-about"
          class="content-screen"
          data-screen="main-menu-content-about"
        >
          <h1 class="main-menu-content-about-title"></h1>
          <p class="main-menu-content-about-description"></p>
        </div>
        <div
          id="main-menu-content-settings"
          class="content-screen"
          data-screen="main-menu-content-settings"
        >
          <h1 class="[text]Settings"></h1>
          <p class="main-menu-content-settings-description"></p>
          <label class="main-menu-content-settings-theme"></label>
          <select
            name="theme-select"
            class="main-menu-content-settings-theme-select"
          ></select>
          <label class="main-menu-content-settings-language"></label>
          <select
            name="language-select"
            class="main-menu-content-settings-language-select"
          ></select>
          <div class="main-menu-content-settings-buttons">
            <button class="main-menu-content-settings-buttons-cancel"></button>
            <button class="main-menu-content-settings-buttons-save"></button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../global.js"></script>
  <script src="./main-menu.js"></script>
</html>
