<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title id="main-menu-title"></title>
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="./main-menu.css" />
  </head>
  <body>
    <div id="main-menu">
      <div id="main-menu-sidebar">
        <button
          id="main-menu-sidebar-start"
          data-target-screen="main-menu-content-start"
          class="sidebar-button"
        >
          <img id="main-menu-sidebar-start-icon" class="button-icon"/>
          <span id="main-menu-sidebar-start-text"></span>
        </button>
        <button
          id="main-menu-sidebar-help"
          data-target-screen="main-menu-content-help"
          class="sidebar-button"
        >
          <img id="main-menu-sidebar-help-icon" class="button-icon"/>
          <span id="main-menu-sidebar-help-text"></span>
        </button>
        <button
          id="main-menu-sidebar-about"
          data-target-screen="main-menu-content-about"
          class="sidebar-button"
        >
          <img id="main-menu-sidebar-about-icon" class="button-icon"/>
          <span id="main-menu-sidebar-about-text"></span>
        </button>
        <button
          id="main-menu-sidebar-settings"
          data-target-screen="main-menu-content-settings"
          class="sidebar-button"
        >
          <img id="main-menu-sidebar-settings-icon" class="button-icon"/>
          <span id="main-menu-sidebar-settings-text"></span>
        </button>
      </div>
      <div id="main-menu-content">
        <div id="main-menu-content-start" class="content-screen">
          <h1 id="main-menu-content-start-title"></h1>
          <p id="main-menu-content-start-description"></p>
          <div id="main-menu-content-start-buttons">
            <button id="main-menu-content-start-buttons-new">
              <img
                id="main-menu-content-start-buttons-new-icon"
                src="../../asset/imgs/zhan.png"
              />
              <span id="main-menu-content-start-buttons-new-text"></span>
            </button>
            <button id="main-menu-content-start-buttons-open">
              <img
                id="main-menu-content-start-buttons-open-icon"
                src="../../asset/imgs/zhan.png"
              />
              <span id="main-menu-content-start-buttons-open-text"></span>
            </button>
          </div>
        </div>
        <div id="main-menu-content-help" class="content-screen">
          <h1 id="main-menu-content-help-title"></h1>
          <p id="main-menu-content-help-description"></p>
        </div>
        <div id="main-menu-content-about" class="content-screen">
          <h1 id="main-menu-content-about-title"></h1>
          <p id="main-menu-content-about-description"></p>
        </div>
        <div id="main-menu-content-settings" class="content-screen">
          <h1 id="main-menu-content-settings-title"></h1>
          <p id="main-menu-content-settings-description"></p>
          <label id="main-menu-content-settings-theme"></label>
          <select
            name="theme-select"
            id="main-menu-content-settings-theme-select"
          ></select>
          <label id="main-menu-content-settings-language"></label>
          <select
            name="language-select"
            id="main-menu-content-settings-language-select"
          ></select>
          <div id="main-menu-content-settings-buttons">
            <button id="main-menu-content-settings-buttons-cancel"></button>
            <button id="main-menu-content-settings-buttons-save"></button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../global.js"></script>
  <script src="./main-menu.js"></script>
</html>
