@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('../../asset/fonts/HarmonyOS Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg0: #000000;
  --bg1: #333333;
  --bg2: #666666;
  --bg3: #999999;
  --bg4: #cccccc;
  --bg5: #ffffff;
  --fg0: #ffffff;
  --fg1: #cccccc;
  --fg2: #999999;
  --fg3: #666666;
  --fg4: #333333;
  --fg5: #000000;
  --fs0: 22px;
  --fs1: 20px;
  --fs2: 18px;
  --fs3: 16px;
  --fs4: 14px;
  --fs5: 12px;
  --ff0: 'HarmonyOS_Sans', sans-serif;
  --ff1: 'HarmonyOS_Sans', sans-serif;
  --ff2: 'HarmonyOS_Sans', sans-serif;
  --success: #00cc00f3;
  --error: #ff0000cc;
  --warning: #ffcc00cc;
  --info: #0099ffcc;
}