#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--bg0);
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

#app-controls {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#app-controls-island {
  height: 30px;
  margin-top: 10px;
  background-color: var(--bg1);
  border-radius: 15px;
  -electron-corner-smoothing: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

#app-controls-island-text {
  font-size: var(--fs5);
  margin: 0 15px;
}

#app-controls-side-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#app-controls-side-controls-left {
  width: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border-radius: 5px;
  -electron-corner-smoothing: 60%;
  background-color: var(--bg1);
  z-index: 1;
}

#app-controls-side-controls-left-page-number {
  
}

#app-controls-side-controls-left img {
  width: 38px;
  height: 38px;
}

#app-controls-side-controls-right {
  width: 40px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 5px;
  -electron-corner-smoothing: 60%;
  background-color: var(--bg1);
  z-index: 1;
}

#app-controls-side-controls-right img {
  width: 38px;
  height: 38px;
}

#app-controls-side-controls-right-page-number {
  
}


#app-controls-bottom-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--bg1);
  margin-bottom: 10px;
  border-radius: 5px;
  -electron-corner-smoothing: 60%;
  z-index: 1;
}

#app-controls-bottom-controls img {
  width: 38px;
  height: 38px;
}

#app-background-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

#svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#storing-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#floating-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  touch-action: none; /* 防止触摸时的默认行为（滚动、缩放等） */
}
