* {
  user-select: none;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

body {
  margin: 0;
  background-color: var(--bg0);
  color: var(--fg0);
  height: 100vh;
  width: 100vw;
}

.big-flex-btn {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg1);
  color: var(--fg1);
  font-size: 1.2em;
  cursor: pointer;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.big-flex-btn img {
  display: block;
  width: 40px;
  height: 40px;
}

#yes-or-no-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  justify-content: flex-end;
  gap: 10px;
}

.content-screen {
  display: none;
}

.content-active {
  display: block;
}