#main-menu {
  height: 100vh;
  display: flex;
}

#main-menu-sidebar {
  background-color: var(--bg1);
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

#main-menu-sidebar button {
  color: var(--fg1);
  background-color: var(--bg1);
  height: 50px;
  border: none;
  font-size: var(--fs4);
}

#main-menu-sidebar button:hover {
  background-color: var(--bg2);
}

#main-menu-sidebar .sidebar-button.content-active {
  /* 当前选中的按钮 */
  background-color: var(--bg2);
}

#main-menu-content {
  width: 100%;
  overflow: auto;
}

#main-menu-content div {
  margin: 30px;
}

#main-menu-content-start-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#main-menu-content-start-buttons button {
  background-color: var(--bg1);
  border: none;
  color: var(--fg1);
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: var(--fs4);
  padding: 10px 20px;
  border-radius: 5px;
  -electron-corner-smoothing: 60%;
  cursor: pointer;
}

#main-menu-content-start-buttons button:hover {
  background-color: var(--bg2);
}

#main-menu-content-start-buttons button span {
  font-size: var(--fs5);
}

#main-menu-content-start-buttons button img {
  display: block;
  width: 40px;
  height: 40px;
}
