#new-template {
  background-color: var(--bg0);
  display: flex;
  height: 100%;
  width: 100%;
}

#new-template > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#new-template-left {
  margin: 0 20px 0 40px;
  border-right: 1px solid var(--fg2);
}

#new-template-foreground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  display: none;
}

#new-template-foreground > div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  justify-content: left;
  align-content: flex-start;
  flex-direction: column;
}

#new-template-background-options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#new-template-background-options label {
  margin-right: 5px;
}

#new-template-background-options input[type="color"] {
  width: 40px;
  height: 30px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

#new-template-preview {
  margin: 0 40px 0 20px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 320px;
  align-items: center;
  flex-shrink: none;
}

#new-template-preview-screen {
  width: 320px;
  height: 180px;
  border: 1px solid var(--fg2);
}

#new-template-preview-description {
  margin-top: 100px;
}

#new-template-background-options > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content;
}

#new-template-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.scrollable-path {
  overflow-x: auto; /* 当内容超出宽度时水平滚动 */
  white-space: nowrap; /* 防止span内的文本换行 */
  max-width: 100%; /* 确保容器的宽度不超过父元素 */
}

.scrollable-path span {
  display: inline-block; /* 确保span能够正确应用宽度和高度 */
  padding: 5px 0; /* 根据需要调整内边距 */
}