#new-file {
  background-color: var(--bg0);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#new-file>div {
  margin: 0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#new-file-template-select {
  width: 100%;
  /* NOTE: Use margin else */
  /* height: calc(100% - 200px); */
  height: 100%;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  display: none;
}

#new-file-template-select>div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

#new-file-save {
  margin-bottom: 40px;
}