#new-file {
    background-color: var(--bg0);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#new-file > div {
    margin: 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#new-file-theme-select{
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#new-file-theme-select button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg1);
    color: var(--fg1);
    font-size: 1.2em;
    cursor: pointer;
    width: 150px; /* 150ç“¦ */
    height: 100px;
}